---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="grid grid-rows-3 h-screen">
      <div class="row-span-1 grid grid-cols-3">
        <div class="col-span-2 justify-items-center">Hello</div>
      </div>
      <div class="row-span-2 flex items-center">Test 2</div>
      <div class="row-span-1 flex items-center">Test 3</div>
    </div>
  </main>
</Layout>
