<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jordan McKoy</title>
  </head>
  <body>
    <nav class="py-10 flex justify-center space-x-5">
      <a class="p-1 text-2xl" href="/">Home</a>
      <a class="p-1 text-2xl" href="/projects/">Blog</a>
      <a class="p-1 text-2xl" href="/projects/">Projects</a>
      <a class="p-1 text-2xl" href="/about/">About Me</a>
      <a class="p-1 text-2xl" href="/contact/">Contact</a>
    </nav>
  </body>
  <slot />
</html>

<style></style>
